{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Event</title>
    
    <link rel="stylesheet" href="{% static 'adding_event_page.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" \
    rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" \
    crossorigin="anonymous">
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" \
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" \
    crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>


</head>
<body class="bg">

  <header class="p-3" style ="background-color:#2C4B87">
        <div class="container" style="display:flex; justify-content: space-between; align-items:center;">
                <img src="{% static './pics/logo.png' %}" alt="iiitdm logo" width="60px" height="auto">
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><h1 class="nav-link px-2" style ="color:#FFFFFF;font-weight:bold; margin-left: 10px;">IIITDM Kancheepuram</h1></li>
            </ul>
          </div>
        </div>
      </header>
    <main class="d-flex">
        <div class="container-fluid" >
            <div class="row m-5">
                <div class=" w-50 mx-auto mb-5 transbox form-rounded " style="padding-bottom: 3%;">  
                    <h1 style="text-align: center;padding-top: 5%;color: #2C4B87;">Create Event</h1>
                    
                    <div class="form-group">
                        <form method="POST" class="post-form">  
                                {% csrf_token %}  
                                <div class="mb-3">
                                    <label for="id_name" class="form-label" style="color:#2C4B87">Event Name:</label>
                                    <input type="text" name="name" class="form-control rounded-pill " maxlength="225" required id="id_name">
                    
                                </div>
                                <div class="mb-3">

                                    <label for="id_description" class="form-label" style="color:#2C4B87">Event Description:</label>
                                    <textarea name='description' cols="40" rows='10' class="form-control form-rounded" id="id_description"></textarea>
                                </div>

                                <div class="mb-3"> 
                                    <label for="id_event_start_date_time_lb" style="color:#2C4B87">Event start time:</label>
                                    <div class='input-group date' id='id_event_start_date_time_box'>
                                        <input type='text' name="event_start_date_time" class="form-control" required id="id_event_start_date_time"/>
                                        <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                               
                                <div class="mb-3"> 
                                    <label for="id_event_end_date_time_lb" style="color:#2C4B87">Event end time:</label>
                                    <div class='input-group date' id='id_event_end_date_time_box'>
                                        <input type='text' name="event_end_date_time" class="form-control" required id="id_event_end_date_time"/>
                                        <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="id_venuelb" class="form-label" style="color:#2C4B87">Event Venue:</label>
                                    <!-- <select name="venue"  id="id_venue" onclick="addOption()"></select> -->
                                    <select name="venue"  id="id_venue">
                                        <!-- <option value="select"> Select </option> -->
                        
                                    </select>
                                    
                                </div>
                                
                                <button type="submit" class="save btn btn-danger">Save</button> 
                        </form>
                    </div>

                    
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript">
        $(function() {
            $('#id_event_start_date_time').datetimepicker();
        });
        $(function() {
            $('#id_event_end_date_time').datetimepicker();
        });
    
        $( document ).ready(function() {
    
        console.log("starting");    
        $("#id_venue").focus(function() {
            console.log("im here");
            $("#id_venue").empty()

                var start_time = $("#id_event_start_date_time").val();
                var end_time = $("#id_event_end_date_time").val();
                console.log("before")
                console.log(start_time)
                console.log(end_time)
                console.log("after")
                $.getJSON(`/events/listvenue/?start_time=${start_time}&end_time=${end_time}`, null, function (data) {
                    console.log(data);
                    
                    $.each(data, function(i, item){
                        console.log(item);
                        
                        $("#id_venue").append("<option value="+item.name+">"+item.value+"</option>");
                    });
                    });
                });
            
        });
        console.log( "ready!" );

        
    </script>
</body>
</html>



