{% extends "base.html" %}
{% load static %}


    {% block head_scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    {% endblock head_scripts %}

<!-- <body class="bg"> -->
{% block content %}
    <div class="container-fluid" >
        <div class="row m-5">
            <div class=" w-50 mx-auto mb-5 transbox rounded position-relative" style="padding-bottom: 3%;"> 
            <button type="button" class="btn-close position-absolute top-0 end-0 m-2" onclick="location.href='/events/'" aria-label="Close"></button> 
                <h3 style="text-align: center;padding-top: 5%;color: #2C4B87;font-family: Nunito;">Add Events!</h3>
                
            <div class="mx-3">
                <div class="form-group">
                    <form method="POST" class="post-form">  
                            {% csrf_token %}  
                            <div class="mb-3">
                                <label for="id_name" class="form-label" style="color:#2C4B87;font-family: Nunito;">Event Name:</label>
                                <input type="text" name="name" class="form-control rounded-pill " maxlength="225" required id="id_name">
                
                            </div>

                            <div class="mb-3">
                                <label for="id_description" class="form-label" style="color:#2C4B87;font-family: Nunito;">Event Description:</label>
                                <textarea name='description' cols="auto" rows='3' class="form-control" id="id_description"></textarea>
                            </div>
                        <div class="row">
                            <div class="col mb-3"> 
                                <label for="id_event_start_date_time_lb" style="color:#2C4B87;font-family: Nunito;">Event start time:</label>
                                <div class="input-group date" id='id_event_start_date_time_box'>
                                    <input type='datetime-local' name="event_start_date_time" class="form-control rounded-pill" required id="id_event_start_date_time"/>
                                </div>
                            </div>
                           
                            <div class="col mb-3"> 
                                <label for="id_event_end_date_time_lb" style="color:#2C4B87;font-family: Nunito;">Event end time:</label>
                                <div class='input-group date' id='id_event_end_date_time_box'>
                                    <input type='datetime-local' name="event_end_date_time" class="form-control rounded-pill" required id="id_event_end_date_time"/>
                                </div>
                            </div>
                        </div>

                            <div class="mb-3">
                                <label for="id_venuelb" class="form-label" style="color:#2C4B87;font-family: Nunito;">Event Venue:</label>
                                <div>
                                    <select name="venue"  id="id_venue"class="form-select rounded-pill" aria-label=".form-select-lg example">
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="id_clublb" class="form-label" style="color:#2C4B87;font-family: Nunito;">Club :</label>
                                <div class ='mb-3'>
                                    <select name="club"  id="id_club" class="form-select rounded-pill" aria-label=".form-select-lg example">
                    
                                    </select>
                                </div>
                                
                                
                            </div>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button type="submit" class="save btn btn-primary me-md-2" style="background-color:#2C4B87; color:#ffffff;font-weight:bold; border:#ffffff 2px solid;font-family: Nunito;">Save</button>
                            </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

    
        $( document ).ready(function() {
    
    
        $("#id_venue").focus(function() {

            $("#id_venue").empty()

                var start_time = $("#id_event_start_date_time").val();
                var end_time = $("#id_event_end_date_time").val();

                // console.log(start_time)
                // console.log(end_time)

                $.getJSON(`/events/listvenue/?start_time=${start_time}&end_time=${end_time}`, null, function (data) {
                    // console .log(data);
                    
                    $.each(data, function(i, item){
                        // console.log(item);
                        
                        $("#id_venue").append("<option value="+item.name+">"+item.value+"</option>");
                    });
                    });
                });
            
        });

        $("#id_club").focus(function() {
            console.log("im here");
            $("#id_club").empty()
                $.getJSON(`/events/listclub/`, null, function (data) {
                    // console.log(data);
                    
                    $.each(data, function(i, item){
                        // console.log(item);
                        
                        $("#id_club").append("<option value="+item.name+">"+item.value+"</option>");
                    });
                    });
                });
        
    </script>
{% endblock content %}
<!-- </body> -->

