{% extends "base_display.html" %}
{% block title %}Events of IIITDM!{% endblock title %}

{% load static %}
{% block content %}
<script>
    function delete_event(id)
    {
        if(confirm("Are you sure you want to delete this event?")==true)
        {
            console.log("User said yes for "+id);
            window.location.href='/events/delete/'+id+'/';
        }
    }

    function on_fav(id)
    {
        fetch('/events/fav/'+id+'/')
            .then(response => response.json()) // converts the response to JSON
            .then(data => {
                //console.log(data); 
                // do something (like update the DOM with the data)
                if(data.status=="success")
                {
                    location.reload();
                }
                else
                {
                    alert("Login to favourite events!");
                }
            });        
    }

    function on_unfav(id)
    {
        fetch('/events/unfav/'+id+'/')
            .then(response => response.json()) // converts the response to JSON
            .then(data => {
                //console.log(data); 
                // do something (like update the DOM with the data)
                location.reload();
            });
    }
    
</script>

<div class="container-fluid mt-3 ms-4 p-4">
    <div class="row ">
        {% if is_today%}
        <div class="col-5 mb-3">
            <button type="button" style="color:#2C4B87; background-color:#ffffff; font-weight:bold ; border:#2C4B87 2px solid" class="btn btn-primary rounded-0">What's happening today?</button>
        </div>
        {% else %}
        <div class="col-5 mb-3">
            <button type="button" style="color:#2C4B87; background-color:#ffffff; font-weight:bold ; border:#2C4B87 2px solid" class="btn btn-primary rounded-0">{{show_date|date}}</button>
            <a href="/events/">
            <button type="button" style="" class="btn btn-primary btn-cems">Back to today</button>
            </a>
        </div>
        {% endif %}
        <div class="col dropdown">
            <a class="btn btn-cems dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Filter
            </a>
            <ul class="dropdown-menu">
                {% with req_date=show_date|date:"Ymd" %}
                <li class="select_filter"><a class="dropdown-item" href="/events/{{req_date}}/all/">All</a></li>

                {% if request.user.is_authenticated %}
                <li class="select_filter"><a class="dropdown-item" href="/events/{{req_date}}/fav/">Favorites</a></li>
                {% endif %}
                
                {% for d in depts %}
                    <li class="select_filter"><a class="dropdown-item" href="/events/{{req_date}}/{{d.id}}/">{{d.name}}</a></li>
                {% endfor %}
                {% endwith %}
             </ul>
        </div>
        {% if request.user.is_authenticated and can_add_event%}
        <div class="col text-end me-5">
            <a class="btn btn-cems" href="{% url 'add_event' %}">
                Add Events
            </a>
        </div>
        {% endif %}
    </div>

    <div class="row ">
        {% if events|length == 0 %}
        <div class="col-6">
            <p>No events</p>
        </div>
        {% else %}
        <div class="eventlist col-6 accordion" id="accordionExample">
            {% for x in events %}
            <div class="accordion-item p-0 mt-3" style="border: none;">
                <h2 class="accordion-header event_{{ x.dept_id }}">
                    <button class="accordion-button collapsed col table-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne_{{ x.id }}" aria-expanded="false" aria-controls="collapseOne_{{ x.id }}" >
                        <div class="row" style="flex-grow:1">
                            <div class="col-4 table-primary fw-bold">{{ x.name }}</div>
                            <div class="col table-primary">{{ x.event_start_date_time|time }}</div>
                            <div class="col table-primary">{{ x.club.name }}</div>
                            {% if x.id in my_fav_event_ids %}
                            <span class="col-1 my-auto me-2" onclick="event.stopPropagation(); on_unfav({{x.id}})">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                                <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1"/>
                                </svg>
                            </span>
                            {% else %}
                            <span class="col-1 my-auto me-2" onclick="event.stopPropagation(); on_fav({{x.id}})">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                                  <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.6 7.6 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                                </svg>
                            </span>
                            {% endif %}
                        </div>
                    </button>
                </h2>
                <div id="collapseOne_{{ x.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body open_{{ x.dept_id }}">
                        {% if x.description %}
                            <p>{{ x.description }}</p>
                            <p class="text-end">{{ x.event_start_date_time|time }} - {{ x.event_end_date_time|time }}</p>
                            <p class="text-end">@ {{ x.venue.location }}, {{ x.venue.building_name }}</p>
                            <p class="text-end fw-bold">{{ x.dept.name }}</p>
                        {% elif x.venue.location %}
                            <p>{{ x.event_start_date_time|time }} - {{ x.event_end_date_time|time }}</p>
                            <p>@ {{ x.venue.location }}, {{ x.venue.building_name }}</p>
                            <p class="fw-bold">{{ x.dept.name }}</p>
                        {% else %}
                            <p>{{ x.event_start_date_time|time }} - {{ x.event_end_date_time|time }}</p>
                            <p class="fw-bold">{{ x.dept.name }}</p>
                        {% endif %}

                        {% if x.user == request.user %}
                            <a class="btn btn-danger btn-sm" onclick="delete_event({{x.id}})">
                                Delete event
                            </a> 
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="offset-1 col-5">
            <div class="fw-bold mb-4">
                <button type="button" style="color:#2C4B87; background-color:#ffffff;font-weight:bold ; border:#2C4B87 2px solid" class="btn btn-primary rounded-0">
                    Upcoming events
                </button>
            </div>
            
            {% for key, value in agenda.items %}
            {% with req_date=key|date:"Ymd" %}
            <div class="upcom_event row me-5">
                <div class="col-3 mb-3 text-center" onclick="location.href='/events/{{req_date}}'">
                    <div class="fs-3" style="color:#2C4B87">
                        {{key|date:"j"}}
                    </div>
                    <div class="fs-5">
                        {{key|date:"M"}}
                    </div>
                </div>
                
                <div class="col-9 mb-3 {% if value|length == 0 %}border-bottom{% endif %}">
                    {% if value|length == 0 %}
                    <ul class="list-inline mt-1 mb-2" >
                        <li class="list-inline-item ms-3 mt-3"><i class="fa fa-calendar-o" aria-hidden="true"></i>No events</li>
                    </ul>
                    {% else %}
                    {% for v in value %}
                    <ul class="list-inline mt-1 mb-2 event_{{ v.dept_id }}" >
                        <li class="list-inline-item ms-3 "><i class="fa fa-calendar-o" aria-hidden="true"></i>{{v.name}}</li>
                    </ul>
                    {% endfor %}
                    {% endif %}                
                </div>
            </div>
            {% endwith %}
            {% endfor %}
            
        </div>
    </div>
</div>
{% endblock content %}
