{% extends "base_display.html" %}
{% block title %}Events of IIITDM!{% endblock title %}

{% load static %}
{% block content %}
<div class="container-fluid m-4 p-4">
    <div class="row">
        <div class="">
            <button type="button" style="color:#2C4B87; background-color:#ffffff; font-weight:bold ; border:#2C4B87 2px solid" class="btn btn-primary rounded-0">What's happening today?</button>
        </div>
    </div>
    <div class="row col-7 m-3">
        <!-- <table class="table-primary">Table</table> -->
        <table>
            <tr>
                <td class="table-primary">Event name</td>
                <td class="table-primary">Venue blah</td>
                <td class="table-primary">Start time</td>
            </tr>
        </table>
    </div>
</div>
{% endblock content %}