{% extends "base.html" %}
{% block title %}Login{% endblock title %}

{% block content %}

{# Assumes you set up the password_reset view in your URLconf #}


<div class="container-fluid">
    <div class="row m-5">
        <div class="col-4 offset-4 p-4 mt-4 transbox rounded">   
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="mb-3 mt-2 text-center" style="color:#2C4B87">
                    <h3>Welcome to IIITDM!</h3>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label" style="color:#2C4B87">Email address</label>
                    <input type="text" name="username" class="form-control rounded-pill" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label" style="color:#2C4B87">Password</label>
                    <input type="password" name="password" id="inputPassword5" class="form-control rounded-pill">
                </div>
                {% if form.errors %}
                <div class="alert alert-danger mx-2" role="alert">
                  Your username and password didn't match. Please try again.
                </div>
                {% endif %}
                <div class="col-auto mb-3 text-center">
                    <button type="submit" class="btn btn-primary w-50 mt-3 rounded-pill" value="login" style="background-color:#2C4B87; border:#ffffff 2px solid">Login</button>
                </div>
                
                <input type="hidden" name="next" value="{{ next }}">
                <tr>
                    <p style="font: size 15px;"><a href="{% url 'password_reset' %}" style="color:#2C4B87">Lost password?</a></p>
                </tr>
            </form>
        </div>
    </div>
    
</div>


{% endblock %}

