{% extends "base.html" %}
{% block title %}Login{% endblock title %}

{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

{# Assumes you set up the password_reset view in your URLconf #}


<div class="container-fluid">
    <div class="row m-5">
        <div class="col-4 offset-4 p-4 mt-4 transbox rounded">   
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="mb-3 mt-2 text-center" style="color:#2C4B87">
                    <h3>Welcome to IIITDM!</h3>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label" style="color:#2C4B87">Email address</label>
                    <input type="text" name="username" class="form-control rounded-pill" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label" style="color:#2C4B87">Password</label>
                    <input type="password" name="password" id="inputPassword5" class="form-control rounded-pill">
                </div>
                <div class="col-auto mb-3 text-center">
                    <button type="submit" class="btn btn-primary w-50 mt-3 rounded-pill" value="login" style="background-color:#2C4B87; border:#ffffff 2px solid">Login</button>
                </div>
                <!-- <table>
                <tr>
                    <p>Welcome to IIITDM</p>
                </tr>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                </tr>
                <tr>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                </tr>
                <tr>
                    <td>{{ form.password }}</td>
                </tr>
                </table>

                <button type="submit" class="btn btn-primary w-50 mt-3 rounded-pill" value="login" style="background-color:#2C4B87; border:#ffffff 2px solid">Login</button> -->
                
                <input type="hidden" name="next" value="{{ next }}">
                <tr>
                    <p style="font: size 15px;"><a href="{% url 'password_reset' %}" style="color:#2C4B87">Lost password?</a></p>
                </tr>
            </form>
        </div>
    </div>
    
</div>


{% endblock %}

