{% extends "base.html" %}
{% block title %}Login{% endblock title %}

{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

{# Assumes you set up the password_reset view in your URLconf #}


<div class="transbox p">
    
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
        <tr>
            <br>
            <br>
            <p style="font-size: 50px;">Welcome to IIITDM !</p>
        </tr>
        <tr>
            <p style="font-size: 30px;">Email ID </p>
        </tr>
        <tr>
            {{ form.username }}
        </tr>
        
        <tr>
            <br>
            <p style="font-size: 30px;">Password</p>
        </tr>
        <tr>
            {{ form.password }}
        </tr>
        
        </table>
        <br>
        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">
        <br>
        <tr>
            <p style="font-size: 25px;"><a href="{% url 'password_reset' %}">Lost password?</a></p>
        </tr>
        </form>
    
</div>


{% endblock %}

