@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Nunito;
}


.bg{
    background-image: url(./pics/iiitdm_background_login.jpeg);
    background-size: cover;
}
.transbox {
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    backdrop-filter: blur(25px);
}

.form-rounded {
    border-radius: 3rem;
    }